In [20]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_maps_api_key as g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Namibe,AO,2021-06-03 18:36:00,-15.1961,12.1522,71.13,88,21,8.59
1,1,Jamestown,US,2021-06-03 18:33:14,42.0970,-79.2353,67.06,86,90,4.00
2,2,Inhambane,MZ,2021-06-03 18:32:31,-23.8650,35.3833,67.98,68,0,13.80
3,3,Ushuaia,AR,2021-06-03 18:36:01,-54.8000,-68.3000,35.22,86,0,5.75
4,4,Meulaboh,ID,2021-06-03 18:36:02,4.1363,96.1285,77.18,91,100,3.83

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Meulaboh,ID,2021-06-03 18:36:02,4.1363,96.1285,77.18,91,100,3.83
10,10,Ipora,BR,2021-06-03 18:36:03,-16.4419,-51.1178,89.69,23,71,3.31
16,16,Faanui,PF,2021-06-03 18:36:05,-16.4833,-151.7500,79.88,77,2,4.09
17,17,Gamba,GA,2021-06-03 18:36:05,-2.6500,10.0000,76.03,90,14,6.26
22,22,Kapaa,US,2021-06-03 18:36:07,22.0752,-159.3190,80.58,86,75,1.01
23,23,Port-Gentil,GA,2021-06-03 18:36:07,-0.7193,8.7815,78.76,89,40,10.36
26,26,Bambous Virieux,MU,2021-06-03 18:36:08,-20.3428,57.7575,75.45,73,40,17.40
28,28,Roma,US,2021-06-03 18:36:03,43.2128,-75.4557,75.40,80,90,9.22
29,29,Birjand,IR,2021-06-03 18:36:09,32.8663,59.2211,81.07,8,0,6.91
31,31,Glace Bay,CA,2021-06-03 18:36:10,46.1969,-59.9570,81.05,29,75,11.50

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4          Meulaboh      ID     77.18   4.1363   96.1285
10            Ipora      BR     89.69 -16.4419  -51.1178
16           Faanui      PF     79.88 -16.4833 -151.7500
17            Gamba      GA     76.03  -2.6500   10.0000
22            Kapaa      US     80.58  22.0752 -159.3190
23      Port-Gentil      GA     78.76  -0.7193    8.7815
26  Bambous Virieux      MU     75.45 -20.3428   57.7575
28             Roma      US     75.40  43.2128  -75.4557
29          Birjand      IR     81.07  32.8663   59.2211
31        Glace Bay      CA     81.05  46.1969  -59.9570

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
# Display the first 10 rows of the hotel_df DataFrame
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Meulaboh,ID,77.18,4.1363,96.1285,Kost Pria
10,Ipora,BR,89.69,-16.4419,-51.1178,Oásis Motel
16,Faanui,PF,79.88,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
17,Gamba,GA,76.03,-2.6500,10.0000,
22,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Port-Gentil,GA,78.76,-0.7193,8.7815,Fengshui Residence
26,Bambous Virieux,MU,75.45,-20.3428,57.7575,Casa Tia Villa
28,Roma,US,75.40,43.2128,-75.4557,Wingate By Wyndham Rome
29,Birjand,IR,81.07,32.8663,59.2211,Birjand Tourist Hotel
31,Glace Bay,CA,81.05,46.1969,-59.9570,Cedarwoods Bed & Breakfast

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))